/*RESET*/

body {
	margin: 0;
}

/*TODO, defione vairable colors on html/root*/

* {
	background: wheat;	
}

.site-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.site-menu a {
	display: block;
	padding: 10px;
}

.site-logo {
	max-width: 100px;
}

.site-header {
	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}

/*STRUCTURE*/

inner-column {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	border: 2px solid purple;
	padding: 10px;
}

mast-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}

graphic-diptych {
	display: block;
	display: grid;
	border: 2px solid blue;
 	padding: 10vh 0;
}

graphic-diptych .graphic {
	background: blue;
	aspect-ratio: 3 / 2;
}

graphic-diptych .content {
/*	padding: 10px;*/
}

.other-news {
	background-color: blue;
}

.other-news graphic-diptych {
	background: rebeccapurple;
}

@media (min-width: 600px) {
	graphic-diptych {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
}