* {
	background: wheat;	
}

.site-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.site-menu a {
	display: block;
	padding: 10px;
}

.site-logo {
	max-width: 100px;
}

.site-header {
	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}

inner-column {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 700px;
	border: 2px solid purple;
}

mast-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}

graphic-diptych {
	display: block;
	display: grid;
	border: 2px solid blue;
 
}

graphic-diptych .graphic {
	background: lightblue;
	aspect-ratio: 2 / 1;
}

graphic-diptych .content {
	padding: 10px;
}

@media (min-width: 600px) {
	graphic-diptych {
		grid-template-columns: repeat(2, 1fr);
		gap: 2%;
	}
}