/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
@import 'developer-styles.css';

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}

* {
	color: red;
}

inner-column {
	display: block;
/*	border: 3px solid red;*/
	max-width: var(--inner-column);
	margin-right: auto;
	margin-left: auto;
}

mast-head {
	display: block;
/*	display: flex;*/
/*	flex-direction: row;*/
}

.page-list, nav {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.page-list li {
	margin-left: 20px;
}

.site-logo {
	max-width: 100px;
}


body {
	display: flex;
	flex-direction: column;
}


main {
	min-height: 100vh;
	flex-grow: 1;
}

/*setup*/
picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}

/*graphic diptych*/
graphic-diptych {
	display: block;
	display: grid;
	gap: 3%;
	grid-template-columns: repeat(2, 1fr);
}

.diptych-photo {
	max-width: 500px;
}

/*STRUCTURE*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
/*	min-height: 100vh;*/
}


mast-head {
	display: flex;
	flex-direction: row;
	align-items: center;
}



/*THEME*/
body {
	background: var(--background-color);
	color: var(--foreground-color);
}

.other-news {
	background: var(--background-color);;
}

.other-news graphic-diptych {
	background: var(--background-color);
}

/**/
.site-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.site-menu a {
	display: block;
	padding: 10px;
}

.site-logo {
	max-width: 100px;
}

.site-header {
	/*display: flex;
	flex-direction: row;
	align-items: center;*/
}

@media (min-width: 600px) {
	graphic-diptych {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
}






