@import "form-styles.css";

li picture {
	max-width: 500px;
}

picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}

recipe-card {
	display: block;
	margin-top: 30px;
}

recipe-card picture {
	max-width: 400px;
}

.hideItem{
	display: none;
}

.showItem {
	display: initial;
}