pod-hours {
	display: block;
}

pod-roles {
	display: block;
}

pod-questions {
	display: block;
}

.question-list li:first-of-type {
	margin-top: var(--para-spacing);
} 

.pod-roles-list li, 
h2 + ul, h2 + div {
	margin-top: var(--heading-spacing);
}

pod-hours h2 {
	font-size: 1.5em;
	margin-top: var(--para-spacing);
}

role-block {
	display: block;
	background: lightblue;
	padding: 10px;
}

role-block h2 {
	font-size: 2em;
}

hours-card {
	display: block;
	max-width: 50ch;
}

hours-card > h2 {
	font-size: 1.8em;
	max-width: 4ch;
}

hours-card div h2 {
	font-size: 1.4em;
}

hours-card > h2::first-line {
	font-size: 1.3em;
}

.hours-list {

}

.hours-list li {
	
}

.year-component, .trademark {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.year-component > small {
	align-self: end;
}

.roles {
	margin-top: var(--adjacent-para-spacing);
}

section.hours-roles {
	margin-top: 30px;
}

section.hours-roles inner-column > h2 {
	font-size: 3em;
}

div.hours {
/*	padding-top: 5vh;*/
	padding-bottom: 5vh;
}

@media (min-width: 600px) {
	hours-card, div.hours-roles {
		display: flex;
		flex-direction: row;
/*		justify-content: space-between;*/
	}
	.hours-roles {

	}
	.tribe-details {
		margin-left: 30px;
		margin-top: 0;
	}
	div.hours {
		flex-basis: 80%;
	}
	div.roles {
		flex-basis: 50%;
		margin-left: 50px;
	}
}