pod-hours {
	display: block;
}

pod-roles {
	display: block;
}

pod-questions {
	display: block;
}

.pod-roles-list li, 
h2 + ul, h2 + div {
	margin-top: var(--heading-spacing);
}

pod-hours h2 {
	font-size: 1.5em;
	margin-top: var(--para-spacing);
}

role-block {
	display: block;
	background: lightblue;
	padding: 10px;
}

role-block h2 {
	font-size: 2em;
}

hours-card {
	display: block;
}

hours-card > h2 {
	font-size: 1.8em;
	color: red;
}

hours-card div h2 {
	font-size: 1.4em;
	color: lime;
}

.hours-list {

}

.hours-list li {
	
}

.year-component {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.year-component small {
	align-self: end;
}
