/* typography */
strong {
  font-weight: bolder;
}

em {
  font-style: italic;
}

h1 {
	color: maroon;
}

h1, h1 + p {
	margin-top: var(--heading-spacing);
}

h2 + p {
	margin-top: var(--para-spacing);
}

p + p {
	margin-top: var(--adjacent-para-spacing);
}

h2[aria-hidden="true"] {
	display: none;
}

