* {
	color: red;
}

inner-column {
	display: block;
	border: 3px solid red;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

mast-head {
	display: block;
/*	display: flex;*/
/*	flex-direction: row;*/
}

.page-list, nav {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.page-list li {
	margin-left: 20px;
}

.site-logo {
	max-width: 100px;
}


body {
	display: flex;
	flex-direction: column;
}


main {
	min-height: 100vh;
	flex-grow: 1;
}

/*setup*/
picture {
	display: block;
}

picture img {
	display: block;
	height: auto;
	width: 100%;
}



/*graphic diptych*/
graphic-diptych {
	display: block;
	display: grid;
	gap: 3%;
	grid-template-columns: repeat(2, 1fr);
}

.diptych-photo {
	max-width: 500px;
}





